/* Container styles */
.cards-container {
    height: 75vh;
    padding: 0;
  margin-top:0%;
    width: 100%;
    max-width: 100%;
    /* box-shadow: 0 5px 5px #917243;
    position: relative; /* or 'absolute' or 'fixed' depending on your layout */
    /* z-index: -1;  */ 
  }
  
  /* Cards container */
  .auto-rotating-cards-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  /* Base card styles */
  .auto-rotating-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border: none; /* Remove default card border */
    border-radius: 0; /* Remove border radius if needed */
  }
  
  /* Active card */
  .auto-rotating-card.active {
    opacity: 1;
  }
  
  /* Card content styling */
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  /* Card title styles - default (large screens) */
.card-content .card-title {
  font-size: 6rem;
}
  
/* Media queries for responsive font sizes */
@media (max-width: 992px) {
  .card-content .card-title {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .card-content .card-title {
    font-size: 4rem;
  text-align: center;
    padding: 0 1rem;
  }
}

@media (max-width: 576px) {
  .card-content .card-title {
    font-size: 3rem;
  }
  
  .cards-container {
    height: 60vh; /* Adjust height for mobile if needed */
  }
}

@media (max-width: 400px) {
  .card-content .card-title {
    font-size: 2.5rem;
  }
}


  /* Dark theme card */
  .card-dark {
    background-color: #917243; /* Bootstrap's dark color */
    color: #ECECEC; /* Bootstrap's light text color */
  }
  
  /* Light theme card */
  .card-light {
    background-color: #ECECEC; /* Bootstrap's light color */
    color: #917243; /* Bootstrap's dark text color */
  }
  
  /* You can add more card variations as needed */




  